:root {
  --primary-color: #83A700;
  --secondary-color: #00364F;
  --tertiary-color: #FAE21C;
  --background-color: #FFFFFF;
  --foreground-color: #252525;
  --text-color: #323E04;
  --link-color: #83A700;
  --border-color: #E5E7EB;
  --background-gray: #F8F9FA;

}